<?php



$MediaPoster_Key['MediaPoster']  =         'mkey';
$MediaPoster_Key['DEV_MediaPoster'] =      'mkey';

$Config['AdminID'] = "";

$Config['Hook'] = array(
                    'use' => false,
                    'url' => "https://DOMAIN/hook.php",
                );



$Config['DB']['telegram'] = array(
                    'host' => 'localhost',
                    'user' => 'mediaposter',
                    'password' => 'myverysecurepassword',
                    'database' => 'mediaposter',
                );                
                
$Config['Telegram'] = array(
                    'token' => $MediaPoster_Key['DEV_MediaPoster'],
                    'botname' => 'mediaposter',
                );                

$Config['seccode'] = 'some_security_key';                

$Config['api'] = array(
                    'youtube' => array( 'use' => true,
                                        'key' => 'YourYouTubeAPIKey',
                                        'maxage' => 3600
                                        ),
                    
                    'TeleTubbyTV' => array(
                                        'use' => false,
                                        'key' => 'no one',
                                        'maxage' => '999999999'
                                        ),   
                );
                
$Config['chunks'] = array(
                        'maxsize' => '50', //Max-File-Size for Upload in MB
                    );
              